<footer class="footer">
    <div class="container footer__row">
        <div>
            <div class="footer__logo">
                <img src="./img/logo-m.svg" width="60" height="46" alt="Karachyov Maxim">
            </div>
            <p class="footer__text">Верстка сайтов из&nbsp;Figma макетам на&nbsp;заказ. Верстка сайтов, сайтов визиток, <nobr>интернет-магазинов</nobr> и&nbsp;Landing Page</p>
            <p class="footer__text">Предоставляю только верску без посадки на&nbsp;<acronym title="Content management system" lang="en">CMS</acronym></p>
        </div>
        <div>
            <h3 class="footer__title">Навигация</h3>
            <ul class="footer__list">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="#">Работы</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div>
            <h3 class="footer__title">Контакты</h3>
            <ul class="footer__list">
                <li><a href="#">+7 (778) 680 92 07</a></li>
                <li><a href="#">karachyov.m@gmail.com</a></li>
                <li><a href="#">Режим работы:
                    с 10-00 по 17-00</a></li>
            </ul>
        </div>
    </div>
</footer>




